.div-container {
    margin-top: 8%;
    margin-left:15%;
    width: 80%;
    height:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.div-children {
    margin: 10px;
    width: 300px;
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.div-children p {
    display: flex;
    align-items: center;
    font-weight: bold;
}